#signInForm, #messageForm {
	margin: 0px;
	margin-bottom: 1px;
}
#userName {
	border: 1px teal solid;
	float: left;
	height: 22px;
	width: 150px;
}
#signInButt {
	height: 22px;
	width: 60px;
}
#signInName {
	color: orange;
	font-family: Tahoma;
	font-size: 12px;
}
#chatBox {
	border: 1px teal solid;
	color: black;
	float: left;
	font-family: tahoma;
	font-size: 12px;
	height: 100px;
	overflow: scroll;
	width: 400px;
}
#usersOnLine {
	border: 1px teal solid;
	color: orange;
	font-family: tahoma;
	font-size: 14;
	height: 100px;
	margin-left: 1px;
	overflow: scroll;
	width: 150px;
}
#message {
	border: 1px teal solid;
	float: left;
	height: 22px;
	margin-top: 1px;
	width: 350px;
}
#send {
	float: left;
	height: 22px;
	margin: 1px;
	width: 50px;
}
#serverRes {
	border: 1px teal solid;
	float: left;
	height: 22px;
	margin: 1px;
	width: 150px;
}
